<section id="show">
  <div class="container">
    <%#= render '/refinery/content_page' %>
    <div class="row">
      <div class="col-"></div></div>

    <h1><%= @page.title %></h1>

    
  </div>
</section>