<%#= render '/refinery/content_page' %>
<section id="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome to TIME Sport USA</h1>      
      </div>
    </div>
    <div class="row">
      <div class='col-xs-4 text-center' style="border:1px solid red;height:100px;">
        <h2>Technologies</h2>
      </div>
      <div class='col-xs-4 text-center' style="border:1px solid red;height:100px;">
        <h2>Bikes/Frames</h2>
      </div>
      <div class='col-xs-4 text-center' style="border:1px solid red;height:100px;">
        <h2>Pedals</h2>
      </div>
    </div>

    <div class="row" id="top-bike">
      <div class="col-xs-12 col-lg-12">
        <%#= image_tag 'top-bg-1.png', class: 'img-responsive' %>
      </div>
    </div>

  </div>

</section>

<section id="made-in-france">
  <div class="container">
    <div class="row">
      <h1>Made in France</h1>
    </div>
  </div>
</section>

<section id="bikes-frames-feature">
  <div class="container">
    <div class="row">
      <h1>Bikes/Frames Features</h1>
    </div>
  </div>
</section>
<section id="bikes-frames">
  <div class="container">
    <div class="row">
      <h1>Bikes/Frames</h1>
    </div>
  </div>
</section>
<section id="aktiv">
  <div class="container">
    <div class="row">
      <h1>AKTIV</h1>
    </div>
  </div>
</section>

<section id="pedals">
  <div class="container">
    <div class="row">
      <h1>Pedals</h1>
    </div>
  </div>
</section>

