<section id="pedal-xpresso-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4" id="pedal-main-txt">
        <%= image_tag 'LOGO-XPRESSO.png', class: 'img-responsive' %>
        <h3>FAST</h3>
        <h3>LIGHT</h3>
        <h3>POwER TRANSMISSION</h3>
        <p class="lead">
          TIME has revolutionized clipless pedal technology and introduces its newest generation : Xpresso.
          The Iclic concept - pre-open clipless system (TIME patent) - allows more intuitive engagement without any rubbing. Moreover, the carbon flexion blade and the oversize 700 mm2 platform gives the pedal a record surface area/ weight factor.
        </p>
      </div>
      <div class="col-lg-8 col-md-4">
        <%= image_tag 'PEDALS-road-xpresso15-pers.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
<section id="pedals-xpresso"></section>
<section id="pedal-rxs-hero"></section>
<section id="pedals-rxs"></section>
<section id="pedals-bioperformance"></section>

