
<table class="table table-striped table-hover">

  <tr class="table-header">
    <td>Size</td>
    <td>H</td>
    <td>Stack</td>
    <td>Reach</td>
    <td>H’</td>
    <td>∆Sl</td>
    <td>L</td>
    <td>I</td>
    <td>^S</td>
    <td>^D</td>
    <td>D</td>
    <td>∆D</td>
    <td>C</td>
    <td>CH</td>
    <td>AV</td>
    <td>AR</td>
    <td>HP</td>
    <td>EP</td>
  </tr>

  <tr>
    <td>XXS</td>
    <td>495</td>
    <td>514</td>
    <td>372</td>
    <td>435</td>
    <td>60</td>
    <td>515</td>
    <td>131</td>
    <td>74.7°</td>
    <td>71°</td>
    <td>122</td>
    <td> - </td>
    <td>43</td>
    <td>70</td>
    <td>576</td>
    <td>404</td>
    <td>270</td>
    <td>970</td>
  </tr>

  <tr>
    <td>XS</td>
    <td>510</td>
    <td>526</td>
    <td>374</td>
    <td>450</td>
    <td>60</td>
    <td>530</td>
    <td>143</td>
    <td>73.7°</td>
    <td>71.5°</td>
    <td>133</td>
    <td> - </td>
    <td>43</td>
    <td>68</td>
    <td>578</td>
    <td>404</td>
    <td>270</td>
    <td>973</td>
  </tr>

  <tr>
    <td>S</td>
    <td>530</td>
    <td>543</td>
    <td>373</td>
    <td>480</td>
    <td>50</td>
    <td>540</td>
    <td>155</td>
    <td>73°</td>
    <td>72°</td>
    <td>149</td>
    <td> - </td>
    <td>43</td>
    <td>64</td>
    <td>578</td>
    <td>404</td>
    <td>270</td>
    <td>973</td>
   </tr>

  <tr>
    <td>M</td>
    <td>550</td>
    <td>562</td>
    <td>383</td>
    <td>500</td>
    <td>50</td>
    <td>555</td>
    <td>161</td>
    <td>73°</td>
    <td>73°</td>
    <td>166</td>
    <td>- </td>
    <td>43</td>
    <td>58</td>
    <td>584</td>
    <td>404</td>
    <td>270</td>
    <td>979</td>
  </tr>

  <tr>
    <td>L</td>
    <td>570</td>
    <td>581</td>
    <td>392</td>
    <td>530</td>
    <td>40</td>
    <td>570</td>
    <td>167</td>
    <td>73°</td>
    <td>73°</td>
    <td>186</td>
    <td>- </td>
    <td>43</td>
    <td>58</td>
    <td>599</td>
    <td>404</td>
    <td>270</td>
    <td>994</td>
  </tr>

  <tr>
    <td>XL</td>
    <td>590</td>
    <td>601</td>
    <td>397</td>
    <td>550</td>
    <td>40</td>
    <td>580</td>
    <td>172</td>
    <td>73°</td>
    <td>73,5°</td>
    <td>204</td>
    <td> - </td>
    <td>43</td>
    <td>55</td>
    <td>604</td>
    <td>404</td>
    <td>270</td>
    <td>999</td>
  </tr>

</table>
