<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h5>Framesets</h5>
      <ul>
        <li><a href="#">Skylon</a></li>
        <li><a href="#">Izon</a></li>
        <li><a href="#">Fluidity</a></li>
        <li><a href="#">ZXrs Piste</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h5>Pedals</h5>
      <ul>
        <li><a href="#">Xpresso</a></li>
        <li><a href="#">RXS</a></li>
        <li><a href="#">ATAC XC</a></li>
        <li><a href="#">ATAC MX</a></li>
        <li><a href="#">ATAC DH</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h5>Technologies</h5>
      <ul>
        <li><a href="#">AKTIV</a></li>
        <li><a href="#">RTM</a></li>
        <li><a href="#">ATAC</a></li>
        <li><a href="#">iClic</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h5>Dealers</h5>
      <ul>
        <li><a href="#">TIME Partners</a></li>
        <li><a href="#">TIME Dealers</a></li>
      </ul>
      <h5>Support &amp; Service</h5>
      <ul>
        <li><a href="#">General Contact</a></li>
        <li><a href="#">Warranty</a></li>
        <li>Tel: 877.727.7661</li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <%= image_tag 'made-in-france-bars.png', width: "250" %><br />
      <h4>MADE IN FRANCE</h4>
      
      <br /><br />
      <span class="fa fa-facebook-square fa-2x"></span>
      <span class="fa fa-twitter-square fa-2x"></span>
      <span class="fa fa-instagram fa-2x"></span>
      <span class="fa fa-youtube-square fa-2x"></span>

      <small>TIME SPORT INTERNATIONAL: www.time-sport.com</small>

    </div>


  </div>
  <div class="row">
    <div class="col-lg-6">
      <small>
        <%= t('.copyright', :year => Time.now.year,
                            :site_name => Refinery::Core.site_name) %>
      </small>

    </div>
    <div class="col-lg-6 text-right">
      

    </div>
    


  </div>


  </div>


