@import 'variables';

//Grid
$grid-gutter-width:0px;
$grid-float-breakpoint:992px;
$grid-float-breakpoint-max:992px;

//Fonts


$navbar-default-bg:rgba(200,200,200,.1);
$navbar-default-link-color:$time-red;
$border-radius-base:0;
$navbar-default-link-active-bg:#efefef;
$navbar-default-link-active-color:#cdcdcd;
//$navbar-padding-horizontal:$floor((20 / 2));


$link-color:$time-red;


@import 'bootstrap';