@import 'variables';
@import 'bs-overrides';
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
 //body {border-top:5px solid yellow !important;}
  #top {
    @include background-style(cover, 50%, 100%, no-repeat);
    .tri-nav {padding:10px;}
  }
  #bikes-frames-feature {
    padding:80px 0;
    background-color:#fff;
    height:100vh;
    h1 {@include header-style(32px, 100, #000);}
    .carousel-inner {position:relative;height:85vh;}
    .carousel-control {z-index:1000;}
    .carousel-control.left, .carousel-control.right {top:50%;}
    //pos, z-index, top, right, bottom, left
    #home-bike-image img {@include home-bike-feature(relative, 52, nil, nil, nil, -8%);}
    #home-bike-logo {
      img {@include home-bike-feature(relative, 53, 80px, 120px, nil, nil);}
      h3 {
        @include home-bike-feature(relative,54,220px, nil, nil ,-130px);
        @include header-style(28px, 200, #000);
      }  
    }
    #home-bike-bg img {@include home-bike-feature(relative, 51, 350px, 550px, nil, nil);}
  }
  #l2-bike {
    @include background-style(cover, 50%, 100%, no-repeat);
    height:100vh;
    #bike-main-txt, #pedal-main-txt {
      margin-top:0px;
      padding-top:100px;
      border:none;
      border-left:2px solid $time-red; 
      .lead {
        border-top:none;
      }
    }
    //#bike-img img {@include bike-hero-style(-410px, 170%);border:1px solid red;}
    #bike-img img {width:170% !important;height:170% !important;margin-left:-410px !important;}
  }
  #l2-bike-features {
    padding:80px 0;
    background-image:url(top-bg-3-light.png);
    @include background-style(130%, 50%, 100%, no-repeat);
    h2 {
      @include header-style(42px, 700, $time-red);
      text-transform: uppercase;
    }
  }

  #bikes-frames {
    height:auto;
    h2 {border-bottom:0px solid rgba(0,0,0,.1);}
    .bike {
      margin-bottom:40px;
    }
  }

  .gallery-img {width:90%;margin:0 auto;}
  #aktiv-choice {
    p {
      font-size:16px;
      line-height:1.5em;
    }
  } 

  #aktiv {
    background-color:#000;
    height:90vh;
    h1 {@include header-style(32px, 100, #fff);}
    #aktiv-izon {margin-left:-250px;margin-bottom:-50px;}
    #aktiv-txt {
      padding:40px 0 20px 40px;
      margin-left:-250px;
      border-left:2px solid $time-red;
      img {margin:0 0 0 0px;}
      h3, p {color:rgba(255,255,255,.6);}
      p .lead {border-top:0px solid red;}
      h3 {@include header-style(32px, 100, $time-red);text-align:left;}
      h4 {text-align:center;}
    }
    padding:0px 15px;
  }

  #pedals {
    margin-top:200px;
    padding:30px 0 80px 0;
    .container {border-top:1px solid rgba(0,0,0,.1);padding:80px 0px;}
    

  }

  //AKTIV 

  #aktiv-hero {
    min-height: 1040px;
    //padding:40px;
    #hero-txt p {@include header-style(20px, 100, rgba(255,255,255,.6));}
  }


  #aktiv-biker {
    padding:40px 40px;
    h3 {@include header-style(24px, 100, rgba(255,255,255,.8));}
    p {
      @include header-style(16px, 100, rgba(255,255,255,.6));
    }
  }


}
